{% extends 'main.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <div class="bs-example row">
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush" id="list">
                    <a href="{% url 'my-profile' %}"><li class="list-group-item  side_section" value="sectionB">My Profile</li></a>
                    <a href="{% url 'my-address' %}"><li class="list-group-item side_section" value="sectionA">Add Address</li></a>
                    <a href="{% url 'change-password' %}"><li class="list-group-item active side_section" value="sectionA">Change Password</li></a>
                </ul>
            </div>

        </div>


        <div class="col-md-8">
            <div class="tab-content" >
                <div id="section">
                    
                    <div class=" p-5 box-element">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success btn-md ">Change</button>
                        </form>
                    </div>
                    
                </div>
                
            </div>

        </div>

    </div>
</div>


{% endblock %}