{% extends 'main.html' %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-5">
    
        <div class="col-lg-6">
            <div class="box-element p-3">
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.image1.url}}"></div>
                    <div style="flex:2"><p>{{item.product.product_name}}</p></div>
                    <div style="flex:1"><p>{{item.product.price|floatformat:2}}₹</p></div>
                    <div style="flex:1"><p>x{{item.quantity}}</p></div>
                </div>
                {% endfor %}
                <div class="mt-4 w-100 d-flex justify-content-end">
                <h5>Items:   {{order.get_cart_items}}</h5>
                </div>
                <div class="mt-4 w-100 d-flex justify-content-end">
                    <h5>Total:   ₹{{order.get_cart_total}}</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-6 box-element">
            {% if page == 'address' %}
            
            <p>Select Address</p>
            <hr>
            <div class="social-ficons mt-4 w-100 d-flex justify-content-end">
                <ul>
                    <li><a href="{% url 'change-address' %}" class="btn btn-info btn-view btn-block btn-sm m-1">Add Address</a></li>
                </ul>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
            <div class="d-flex " >
                {% for address in useraddress %}
                <div class="form-check m-2">
                    <input class="form-check-input" type="radio" checked name="adrress" id="{{address.id}}" value="{{address.id}}" >
                    <label class="form-check-label" for="{{address.id}}">
                        <p>{{address.address}}</p>
                        <p>{{address.city}}</p>
                        <p>{{address.state}}</p>
                        <p>{{address.pincode}}</p>
                    </label>
                </div>
                {% endfor %}
            </div>
            <div id="payment-info">
                <div class="col-md-11 p-3 m-2 border-secondary border">
                    <h4>SELECT PAYMENT METHOD</h4>
                    <div class="text-left pl-3">
                       <!-- <input class="mb-2" type="radio" checked name="payment" id="netBANKING" value="netBANKING"> netBANKING <br>
                       <input class="mb-2" type="radio" checked name="payment" id="UPI" value="UPI"> UPI <br> -->
                       <input class="mb-2" type="radio" checked name="payment" id="PayPal" value="PayPal"> PayPal <br>
                       <input class="mb-2" type="radio" checked name="payment" id="COD" value="COD"> COD <br>
                       <!-- <button class="col-md-11 btn btn-lg btn-info mt-4" id="proceed">Place Order</button> -->
                       <button id="proceed" class="btn btn-success make-payment">Place Order</button>
                     </div>
                   </div>
                <!-- <button id="make-payment" class="btn btn-success make-payment">Place Order</button> -->
            </div>
        </form>
            {% else %}
            <div class=" p-1" id="form-wrapper">
                <form id="form" method="POST">
                    {% csrf_token %}
                    <div id="user-info">
                        {% for field in form %}
                        <div class="form-field">
                            <label for="floatingInput">{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit">
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- <script>
    $("#proceed").on("click", function (e) {
      var payment = $('input[name="payment"]:checked').val();
      var address = $('input[name="address"]:checked').val();
      if (payment == 'COD'){
        alert('working')
        $.ajax({
          type: "POST",
          url: "{% url 'check-out' %}",
          data: {
            payment : payment,
            address : address,
            csrfmiddlewaretoken : "{{ csrf_token }}"
          },
          dataType: "json",
          success: function (response) {
            alert('CONGRATS, Order Sent !')
            location = '{% url "payment-complete" %}'
          },
        });
      }else{
        alert('please select "COD"')
      }
      });
</script> -->

{% endblock %}