{% extends 'main.html' %}

{% block content %}
{% load static %}

<!-- Home carousel start -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for banner in banners %}
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first  %} active {% endif %}" aria-current="true" aria-label="{{ forloop.counter0 }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for banner in banners %}
      <div id="{{banner.id}}" class="carousel-item {% if forloop.first  %} active {% endif %}">
        <img src="{{banner.bannerImageUrl}}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>{{banner.banner_title}}</h3>
          <p style="font-size: medium;">{{ banner.banner_description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- Home carousel end -->
    
    <section class="banner-bottom py-5">

    <div class=" container py-5">
        <h3 class="title-wthree mb-lg-5 mb-4 text-center">New Arrivals</h3>
<div class="row">
   
    <div class="col-md-12">

                <!--/row-->
                <div class="row shop-wthree-info text-center" id="filterproducts" >
                    {% for product in products %}
                    <div class="col-lg-3 shop-info-grid text-center mt-4" style="position: relative;" id="{{product.id}}">
                        
                        <div class="product-shoe-info shoe">
                               
                            <div class="btn {% if product in wish %} wishlist {% else %} wishlist1 {% endif %}" 
                            id="wish1{{product.id}}"   ><i value="{{product.id}}" id="icon{{product.id}}" 
                            class="wish_list {% if product in wish %} wishlist {% else %} wishlist1 {% endif %}   
                            {% if product in wish %} fa-solid {% else %} fa-regular {% endif %}  fa-heart"
                            ></i></div>
                            
                            <!-- <div class="btn " id="wish2" ><i class=" fa-heart wish" data-product="{{product.id}}" data-action="add_wish"></i></div> -->
                            
                            <div class="men-thumb-item">
                                <img src="{{product.image1Url}}" class="img-fluid" style="height: 150px;" alt="">
        
                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="{% url 'product'  product.id %}">{{product.product_name|slice:":25"}}</a><small style="font-size: 12px;">more..</small>
                                </h4>
                                <div class="available mt-3">
                                    <p>{{product.category.name}} </p>
                                </div>
                                <div class="product_price">
                                    <!-- <p>
                                        {{product.name}} 
                                    </p> -->
                                    <div class="grid-price">
                                        <span class="money"> {{product.product_discount_price| floatformat:2}}₹</span>
                                        {% if product.price > product.product_discount_price %}
                                        <strike class="money"> {{product.price | floatformat:2}}₹</strike>
                                            {% if product.product_discount %}
                                            <span style="color: #26a541 !important;">{{product.product_discount}}%</span>
                                            {% elif product.category.category_discount %}
                                            <span style="color: #26a541 !important;">{{product.category.category_discount}}%</span>
                                            {% endif %}
                                        {% endif %}
                                        <div class="mt-1 ">
                                            {% if product.stock == 0 %}
                                            <span style=" color: red;">Out Of Stock</span>
                                            <a  class="btn btn-info btn-view btn-block btn-sm mt-3">Add to Cart</a>
                                            {% else %}                                          
                                            <a href="{% url 'buy-now' product.id %}" class="btn btn-info btn-view btn-block btn-sm ">Buy Now</a>
                                            <button id="test" data-product="{{product.id}}" data-action="add" class="btn btn-info btn-view btn-cart btn-block btn-sm  add-btn update-cart">Add to Cart</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</section>
<script>
$('.wish_list').on('click',function(e){
    if('{{user}}' == 'AnonymousUser'){
        var wish_product = $(this).data('product')
        var wish_action = $(this).data('action')
        var toastMixin = Swal.mixin({
                    toast: true,
                    icon: 'error',
                    title: 'General Title',
                    animation: false,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                });

                toastMixin.fire({
                    animation: true,
                    title: 'You should SignUp/Login'
                })
    }else{
        var wish_product = $(this).attr('value')
        var wish_action = ''
        if ($(this).hasClass('wishlist')){
            wish_action = 'remove_wish'
        }else if($(this).hasClass('wishlist1')){
            wish_action = 'add_wish'
        }

        $.ajax({
            method: "POST",
            url: "/wish-list/",
            data: {
                wish_product : wish_product,
                wish_action : wish_action,  
                csrfmiddlewaretoken : "{{ csrf_token }}"
            },
            dataType: "json",
            success: function (response) {
                var res = response.result
                var productId = response.productId
                var status = response.status
                var msg = response.msg
                console.log(res)
                console.log(productId)
                if(res=='added'){
                    $('#'+productId+' #wish1'+productId).removeClass('wishlist1')
                    $('#'+productId+' #wish1'+productId).addClass('wishlist')
                    $('#'+productId+' #icon'+productId).removeClass('fa-regular')
                    $('#'+productId+' #icon'+productId).addClass('fa-solid')
                    $('#'+productId+' #icon'+productId).removeClass('wishlist1')
                    $('#'+productId+' #icon'+productId).addClass('wishlist')
                }else if(res == 'removed'){
                    $('#'+productId+' #wish1'+productId).removeClass('wishlist')
                    $('#'+productId+' #wish1'+productId).addClass('wishlist1')
                    $('#'+productId+' #icon'+productId).removeClass('fa-solid')
                    $('#'+productId+' #icon'+productId).addClass('fa-regular')
                    $('#'+productId+' #icon'+productId).removeClass('wishlist')
                    $('#'+productId+' #icon'+productId).addClass('wishlist1')
                }

                var toastMixin = Swal.mixin({
                    toast: true,
                    icon: msg,
                    title: 'General Title',
                    animation: false,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                });

                toastMixin.fire({
                    animation: true,
                    title: 'Product '+ status +' WishList'
                })
            }
        });
    }
})


</script>
<script>
    
    $('.update-cart').on('click',function (e) {
        if('{{ user }}' == 'AnonymousUser'){ 
				var productId = $(this).data('product')
				var action = 'add'
				  if (action == 'add'){
					if (cart[productId] == undefined){
					cart[productId] = {'quantity':1}
					}else{
					  cart[productId]['quantity'] += 1
					}
				  }
				  console.log('CART:', cart)
				  document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
				  location.reload()
				
			}else{
                var product = $(this).data('product')
                var action = $(this).data('action')
                console.log(product)
                console.log(action)
                $.ajax({
                    type : 'POST',
                    url : "{% url 'update-item' %}",
                    data : {
                        productId : product,
                        action : action,
                        csrfmiddlewaretoken : "{{ csrf_token }}"
                    },
                    dataType: 'json',
                    success:function(response){
                        var productId = response.productId
                        var stock = response.stock
                        var items = response.items
                        
                        
                        // console.log(cur_stock)
                        if(stock == 0){
                            $('#'+productId + ' #add_cart').show();
                            var toastMixin = Swal.mixin({
                                toast: true,
                                icon: 'error',
                                title: 'General Title',
                                animation: false,
                                position: 'bottom',
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            });

                            toastMixin.fire({
                                animation: true,
                                title: 'Product out of stock'
                            })
                        }else{
                            $('#'+productId + ' #add_cart').hide();
                            var toastMixin = Swal.mixin({
                                toast: true,
                                icon: 'success',
                                title: 'General Title',
                                animation: false,
                                position: 'bottom',
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            });

                            toastMixin.fire({
                                animation: true,
                                title: 'Product added to Cart'
                            })
                        }
                        $('#cart_items').html(items)
                        
                    }
                });
            }
    });
  
			
</script>

{% endblock %}