{% extends 'main.html' %}
{% block content %}
<div class="modal-body"  >
    <table>
        <tr>
            <td>
                <b>Invoice Number:</b> {{order.id}}
            <p><b>Order Date:</b> {{order.date}}</p>
        </td>
        
        <td>
            <b>Shipping Address</b>
            <p>{{order.address.f_name}} {{order.address.l_name}},
                {{order.address.email}}, {{order.address.phone}},
                {{order.address.address1}}, {{order.address.address2}}
                {{order.address.city}},
                {{order.address.state}},
                {{order.address.pincode}},
                {{order.address.post_office}}</p>
            </td>
        </tr>
    </table>
    <table class="table" id="invoicetable">
<thead>
    <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Qty</th>
        <th scope="col">Discount </th>
        <th scope="col">Total</th>
    </tr>
</thead>
<tbody>
    {% for item in items %}
    {% if item.order == order %}
    <tr>
        <td>{{item.product.product_name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.product.product_discount_price}}₹</td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>
<hr>
<span class="container w-100 p-0 d-flex justify-content-end"><b> Grand Total:- ₹ {{order.get_cart_total}}</b></span>
</div>


{% endblock %}