{% extends 'main.html' %}

{% block content %}

     <!--/login -->
     <section class="banner-bottom py-5">
        {% if page == 'login-page' %}
        <div class="container">
            <div class="content-grid">
                <div class="text-center icon">
                    <span class="fa fa-unlock-alt"></span>
                </div>
                <div class="content-bottom">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="username" id="text1" type="text" value="" placeholder="User Name" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="content-input-field">
                                <input name="password" id="myInput" type="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="content-input-field">
                            <button type="submit" class="btn">Sign In</button>
                        </div>
                        <ul class="list-login">
                            <li>
                                <a href="{% url 'otp-login' %}" class="text-right">Login with Mobile Number</a>
                            </li>
                            <li>
                                <a href="#" class="text-right">Forgot password?</a>
                                
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                        <ul class="list-login-bottom">
                            <li class="">
                                <a href="{% url 'signup' %}" class="">Don't have an Account?</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="content-grid">
                <div class="text-center icon">
                    <span class="fa fa-unlock-alt"></span>
                </div>
                <div class="content-bottom">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="field-group">

                            <div class="content-input-field">
                                <input name="mobnumber" id="text1" type="text" value="" placeholder="+91" required="">
                            </div>
                        </div>
                        <div class="content-input-field">
                            <button type="submit" class="btn">Send OTP</button>
                        </div>
                        <ul class="list-login">
                            <li>
                                <a href="{% url 'login' %}" class="text-right">Login with Username</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                        <ul class="list-login-bottom">
                            <li class="">
                                <a href="{% url 'signup' %}" class="">Don't have an Account?</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
    <!-- /login -->

{% endblock %}