{% extends 'main.html' %}
{% block content %}

<div class="container mt-3">
    {% for order in orders %}
    {% if order.get_cart_items >= 1 %}
    <div class="box-element mt-5">
        <div class="text-center p-2">
            <h5>Order Date:- {{order.date}} Items:- {{order.get_cart_items}}</h5>
        </div>
        <div class="container w-100 p-0 d-flex justify-content-end">
            {% if order.approve_status == False %}
                {% if order.cancel_status == False %}
                <a href="{% url 'order-cancel' order.id %}" class="btn btn-danger btn-block btn-sm me-1" style="width:80px!important; margin-right: 40px!important;">Cancel</a>
                {% else %}
                <span class="btn btn-secondary" style="margin-right: 40px;">Order Canceled</span>
                {% endif %}
            {% else %}
                {% if order.shipped_status == False %}
                    {% if order.cancel_status == False %}
                    <span class="btn btn-success" style="margin-right: 40px;">Order Approved</span>
                    {% if order.cancel_status == False %}
                    <a href="{% url 'order-cancel' order.id %}" class="btn btn-danger btn-block btn-sm me-1" style="width:80px!important; margin-right: 40px!important;">Cancel</a>
                    {% endif %}
                    {% else %}
                    <span class="btn btn-secondary" style="margin-right: 40px;">Order Canceled</span>
                    {% endif %}
                {% else %}
                {% if order.delivery_status == False %}
                
                <span class="btn btn-success" style="margin-right: 40px;">Order Shipped</span>
                    {% if order.cancel_status == False %}
                    <a href="{% url 'order-cancel' order.id %}" class="btn btn-danger btn-block btn-sm me-1" style="width:80px!important; margin-right: 40px!important;">Cancel</a>
                    {% endif %}
                {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <hr>
        <div class="container">
            {% for item in items %}
                {% if item.order == order %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" style="height: 100px;" src="{{item.product.image1.url}}"></div>
                    <div style="flex:2"><p>{{item.product.product_name}}</p></div>
                    <div style="flex:1"><p>{{item.product.product_discount_price}}₹</p></div>
                    <div style="flex:1"><p>{{item.quantity}}</p></div>
                    <div style="flex:1">
                        {% if order.delivery_status == True %}
                            {% if order.return_status == False %}
                            <a href="{% url 'order-return' order.id %}" class="btn btn-success btn-block btn-sm m-1">Return</a>
                            {% else %}
                            <span class="btn btn-success" style="margin-left: 50px;">Order Returned</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <input type="text" class="d-none" value="{{order.delivery_date}}">
                </div>
                {% endif %}
                
            {% endfor %}

            
            
            <span><b> Total:- ₹ {{order.get_cart_total}}</b></span>
            {% if order.coupon %}
                <span style="color: rgb(250, 141, 141);">Coupon Applyed!</span>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}