{% extends 'main.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://unpkg.com/xzoom/dist/xzoom.css">
<section class="banner-bottom py-5">
    <div class="container py-md-5">
        <!-- product right -->
        <div class="left-ads-display wthree">
            <div class="row">               
                <div class="desc1-left col-md-8 col-lg-6">
                    <img class="xzoom" src="{{ product.image1.url }}" width="400"  xoriginal="{{ product.image1.url }}" />

                        <div class="xzoom-thumbs mt-3" style="margin-right: 245px;">
                            <a href="{{ product.image1Url }}">
                              <img class="xzoom-gallery" width="80" src="{{ product.image1Url }}"  xpreview="{{ product.image1Url }}">
                            </a>
                            <a href="{{ product.image2Url }}">
                              <img class="xzoom-gallery" width="80" src="{{ product.image2Url }}" xpreview="{{ product.image2Url }}"">
                            </a>
                            <a href="{{ product.image3Url }}">
                              <img class="xzoom-gallery" width="80" src="{{ product.image3Url }}" xpreview="{{ product.image3Url }}">
                            </a>
                          </div>

     
    </div>




    <div class="desc1-right col-md-4 pl-lg-3" id="{{product.id}}">
                    <h3>{{product.product_name}}</h3>
                    {% if product.price > product.product_discount_price %}
                    <strike class="money"> {{product.price | floatformat:2}}₹</strike>
                    {% endif %}
                    <h5>Rs. {{product.product_discount_price | floatformat:2}}₹</h5>
                    <div class="available mt-3">
                        <p>{{product.category.name}} </p>
                    </div>
                    <div class="available mt-3">
                        <span>Size </span><span style="border: 1px solid rgb(146, 146, 146);padding: 5px;">{{product.size}} </span>
                    </div>
                    <div class="available mt-3">
                        <small>Description</small>
                        <p>{{product.description}} </p>
                    </div>
                    <div class="share-desc mt-5">
                        <div class="share text-left">
                            <div class="social-ficons mt-4">
                                <ul>
                                    {% if product.stock == 0 %}
                                    <li><button id="test"  class="btn btn-info btn-view btn-cart btn-block btn-sm m-1 add-btn ">Add to Cart</button></li>
                                    <li><span style=" color: red;">Out Of Stock</span></li>
                                    {% else %}
                                    <li><button id="test" data-product="{{product.id}}" data-action="add" class="btn btn-info btn-view btn-cart btn-block btn-sm m-1 add-btn update-cart">Add to Cart</button></li>
                                    <li><a href="{% if product.stock != 0 %}{% url 'buy-now' product.id %} {% endif %}" class="btn btn-info btn-view btn-block btn-sm m-1">Buy Now</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <span id="add_cart" style=" color: red;">Out Of Stock</span>
                </div>
            </div>
            <!--/row-->
            <h3 class="title-wthree-single my-lg-5 my-4 text-left">Related Products</h3>
            <div class="row shop-wthree-info text-center">
                {% for re_product in re_products %}
                <div class="col-lg-3 shop-info-grid text-center mt-4">
                    <div class="product-shoe-info shoe">
                        <div class="men-thumb-item">
                            <img src="{{re_product.image1.url}}" class="img-fluid" style="height: 200px;" alt="">
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="{% url 'product' re_product.id %}">{{re_product.product_name|slice:":30"}} </a><small style="font-size: 12px;">more..</small>
                            </h4>
                            
                            <div class="product_price">
                                <div class="grid-price">
                                    {% if re_product.price > re_product.product_discount_price %}
                                    <strike class="money"> {{re_product.price | floatformat:2}}₹</strike>
                                    {% endif %}
                                    <span class="money"> {{re_product.product_discount_price| floatformat:2}}₹</span>
                                    <a href="{% url 'product' re_product.id %}" class="btn btn-info btn-view btn-block btn-sm m-1">View</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <!--//row-->
            
        </div>
    </div>
</section>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/xzoom/dist/xzoom.min.js"></script>
<script>
    
    $('.update-cart').on('click',function (e) {
        if('{{ user }}' == 'AnonymousUser'){ 
				var productId = $(this).data('product')
				var action = 'add'
				  if (action == 'add'){
					if (cart[productId] == undefined){
					cart[productId] = {'quantity':1}
					}else{
					  cart[productId]['quantity'] += 1
					}
				  }
				  console.log('CART:', cart)
				  document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
				  location.reload()
				
			}else{
                var product = $(this).data('product')
                var action = $(this).data('action')
                console.log(product)
                console.log(action)
                $.ajax({
                    type : 'POST',
                    url : "{% url 'update-item' %}",
                    data : {
                        productId : product,
                        action : action,
                        csrfmiddlewaretoken : "{{ csrf_token }}"
                    },
                    dataType: 'json',
                    success:function(response){
                        var productId = response.productId
                        var stock = response.stock
                        var items = response.items
                        
                        
                        // console.log(cur_stock)
                        if(stock == 0){
                            $('#'+productId + ' #add_cart').show();
                        }else{
                            $('#'+productId + ' #add_cart').hide();
                        }
                        $('#cart_items').html(items)
                        var toastMixin = Swal.mixin({
                                toast: true,
                                icon: 'success',
                                title: 'General Title',
                                animation: false,
                                position: 'bottom',
                                showConfirmButton: false,
                                timer: 2000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            });

                            toastMixin.fire({
                                animation: true,
                                title: 'Product added to Cart'
                            })
                    }
                });
            }
    });
  
			
</script>
<script>
    $(".xzoom, .xzoom-gallery").xzoom({tint: '#333', Xoffset: 15});
</script>
{% endblock %}
