{% extends 'dashboard_main.html' %}

{% block dashboard %}
{%load crispy_forms_tags %} 
{% load static %}

<div class="row page-titles">
  <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Dashboard</h3>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item active">Category Offer</li>
      </ol>
  </div>
</div>
<div class="row">
  <!-- column -->
  <div class="col-12">
      <div class="card">
          <div class="card-body">
        <h3>Offer Applyed</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Categiry Name</th>
            <th>Current Discount</th>
            <th>Add Discount</th>
          </tr>
        </thead>
        <tbody>                
          {% for cat in category %}
          <tr>
            <td>{{ cat.name }}</td>
            <td>{{ cat.category_discount }}</td>
            <td>
    
                <a href="{% url 'delete-offer' cat.id %}" onclick="return two(this,event)" class="btn btn-danger btn-block btn-sm m-1">Delete Offer</a>
  
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        </div>
        
        <div class="col-12">
        <div class="card">
            <div class="card-body">
  <div class="col-md-5">
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th>Categiry Name</th>
            <th>Current Discount</th>
            <th>Add Discount</th>
          </tr>
        </thead>
        <tbody>                
          {% for cat in offer_cat %}
          <tr>
            <td>{{ cat.name }}</td>
            <td>{{ cat.category_discount }}</td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success btn-block btn-sm m-1" data-bs-toggle="modal" data-bs-target="#exampleModal{{cat.id}}">
                  Add Offer
                </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{cat.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Offer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'category-offer' %}" method="POST">
            {% csrf_token %}
        <div class="modal-body">
          <input type="number" class="form-control" min="0" name="offer" max="100">
          <input type="text" name="catid" value="{{cat.id}}" class="d-none">
        </div>
        <div class="modal-footer">
            <button type="submit"  class="btn btn-primary">Save changes</button>
        </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
  <script>
    function two(url,e) {
        e.preventDefault()
        swal({
            title: "Are you sure?",
            text: "Do you want to delete this Category!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
        
            window.location.href= url.href
         

            } else {
              swal("File is safe!");
            }
          });


}
</script>
  {% endblock %}