{% extends 'dashboard_main.html' %}
{% block dashboard %}
{% load crispy_forms_tags %}
<div class="col-md-10 col-12 mx-auto">
<div class="row">
    <div class="col-md-12 col-12">
        <div class="card" style="margin-top: 30px;">
            <div class="card-body">
              <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="input-group mb-3">
                    <input type="date" class="form-control seldate" placeholder="Date" name="coupon_date" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  
                <button type="submit" class="btn btn-success btn-md ">Add</button>
              </form>
            </div>
        </div>
    </div>
      
</div>
</div>
<br>
<br>
<div class="col-md-10 col-12 mx-auto">
<div class="row">
    <div class="col-md-12 col-12">
        <div class="card" style="margin-top: 30px;">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Valid To</th>
                            <th>Discount</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for coupon in coupons %}
                    <tr>
                        <td>
                            <p>{{coupon.code}}</p>
                        </td>
                        <td>{{coupon.valid_to}}</td>
                        <td>{{coupon.discount}}</td>
                        <td>{{coupon.active}}</td>
                        <td>
                            <div class="d-flex">
                                <a href="{% url 'delete-coupon' coupon.id %}" class="btn btn-danger btn-block btn-sm m-1" onclick="return deleteCoupon(this,event)">Delete</a>
                            </div>
                        </td>
                       </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
      
</div>
</div>
<script>
    function deleteCoupon(url,e) {
        e.preventDefault()
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this  file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
        
            window.location.href= url.href
         

            } else {
              swal("Your file is safe!");
            }
          });


}
$(document).ready(function () {
    var date = new Date().toISOString().slice(0,10)
    $('.seldate').attr('min',date)

  });
</script>
{% endblock %}