{% extends 'dashboard_main.html' %}

{% block dashboard %}

<div class="col-md-10 col-12 mx-auto">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="card" style="margin-top: 30px;">
                <div class="card-body">
                    <h4 style="text-align: center;">Order Details</h4>
                    <canvas id="salescount" style="width: 300px; height: 300px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card" style="margin-top: 30px;">
                <div class="card-body">
                    <h4 style="text-align: center;">Payment Methods</h4>
                    <canvas id="salesamount" style="width: 300px; height: 300px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card" style="margin-top: 30px;">
                <div class="card-body">
                  <h4 style="text-align: center;">Products and Stocks</h4>
                    <canvas id="salesyearcount" style="width: 300px; "></canvas>
                </div>
            </div>
        </div>
          
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  window.onload = function(){

 
    const order = document.getElementById('salescount').getContext('2d');
    var xValues = ['Approved','shipped','Delivered'];
var yValues = {{count|safe}};
var barColors = [
  "#52D726",
  "#FFEC00",
  "#FF7300",
];

new Chart(order, {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Order Details"
    }
  }
});
}

const product = document.getElementById('salesyearcount').getContext('2d');
var xProduct = {{prod|safe}};
var yProduct = {{stock|safe}};
var barColors = ["red", "#02a38b","#005ca5","orange","brown","#FFEC00","#7CDDDD","#f3a853","#9bd06d","#e086bd","#31397d"];

new Chart(product, {
  type: "bar",
  data: {
    labels: xProduct,
    datasets: [{
      backgroundColor: barColors,
      data: yProduct
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Product and Stock"
    }
  }
});

const pyamethod = document.getElementById('salesamount').getContext('2d');
var xPay = ['COD','RazorPay','PayPal'];
var yPay = {{paymethod|safe}};
var barColors = [
  "#FF0000",
  "#007ED6",
  "#7CDDDD"
];

new Chart(pyamethod, {
  type: "doughnut",
  data: {
    labels: xPay,
    datasets: [{
      backgroundColor: barColors,
      data: yPay
    }]
  },
  options: {
    title: {
      display: true,
      text: "Pyament Method"
    }
  }
});



</script>
{% endblock %}