{% extends 'dashboard_main.html' %}

{% block dashboard %}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Return list</li>
        </ol>
    </div>
</div>
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Return Orders</h4>
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Order By</th>
                                <th>Items</th>
                                <th>Total Amount</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            {% if order.get_cart_items >= 1 %}
                            <tr>
                                <td>
                                    <p>#{{order.id}}</p>
                                </td>
                                <td>{{order.user.username}}</td>
                                <td>{{order.get_cart_items}}</td>
                                <td>{{order.payment.payment_amount}}</td>
                                <td><a href="" class="btn btn-success btn-block btn-sm m-1">Completed</a></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if orders.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ orders.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                        </span>
                
                        {% if orders.has_next %}
                            <a href="?page={{ orders.next_page_number }}">next</a>
                            <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}