{% extends 'dashboard_main.html' %}

{% block dashboard %}
{% load static %}
<!-- date picker scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!-- end -->
<div class="row">
    <div class="col-md-12 col-12">
      <div class="card-body">
              <div class="card" style="margin-top: 30px;">
              <form action="" method="POST" >
                {% csrf_token %}
                <div class="d-flex ms-1 mt-4">
                  <label for="" class="ms-1">Select Date</label>
                  <input type="text" class="ms-2" name="dates"  />
                </div>
               
                <div class="mt-3">
                  <p style="margin-left: 100px;" >OR</p>
                </div>
                <div class="mt-3">
                  
                  <label for="" class="ms-1">Select Month</label>
                  <input type="month" name="month" class="seldate ms-1">
                  
                  <label for="cars">Year</label>
                  
                  <select name="year">
                    <option value="">------</option>
                    {% for y in yr %}
                    <option value="{{y}}">{{y}}</option>
                    {% endfor %}
                  </select>
                  <button type="submit" class="btn btn-outline-secondary btn-md ms-2 mb-1">Search</button>
                </div>
              </form>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" style="float:right; margin-right:5px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Download Report
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" class="btn btn-sm" href="{% url 'export-excel' %}">Excel</a></li>
                  <li > <button id="exppdf" class="btn btn-sm ms-2"> PDF</button></li>
                  <li><a class="dropdown-item" class="btn btn-sm"  href="{% url 'export-csv' %}">CSV</a></li>
                </ul>
              </div>
              <br>
              <table class="table table-striped" id="reporttable">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Payment Method</th>
                        <th>Items</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    {% if order.payment.payment_status == True %}
                    <tr>
                        <td>
                            <p>#{{order.id}}</p>
                        </td>
                        <td>{{order.date}}</td>
                        <td>{{order.payment.payment_method}}</td>
                        <td>{{order.get_cart_items}}</td>
                        <td>{{order.payment.payment_amount}}</td>
                       </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
                
            </div>
        </div>
    </div>
  </div>
  <script src="{% static 'dashboard/js/html2pdf.bundle.min.js' %}"></script>
  <script>
  document.getElementById('exppdf').onclick = function(){
    var date = new Date().toISOString().slice(0,19);
    console.log(date)
    var element = document.getElementById('reporttable');
    var opt = {
      margin:       1,
      filename:     'SalesReport'+ date +'.pdf',
      image:        { type: 'jpeg', quality: 0.98 },
      html2canvas:  { scale: 2 },
      jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
    };
    
    html2pdf(element, opt)
  };
</script>
<script>
  $('input[name="dates"]').daterangepicker({
    maxDate: moment(),
    ignoreReadonly: true,
    format:'dd/mm/yyyy',
    allowInputToggle: true,
    defaultDate: false,
    useCurrent: false
  }
);
  $(document).ready(function () {
    var date = new Date().toISOString().slice(0,10)
    $('.seldate').attr('max',date)

  });

  // $(function() {
  //   $('input[name="daterange"]').daterangepicker({
  //     opens: 'left'
  //   }, function(start, end, label) {
  //     console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  //   });
  // });
  </script>

{% endblock %}